name: Build nn_tilde (macOS)
on:
  push:
    tags:
      - "v*"
jobs:
  Build-nn_tilde-macOS:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - run: git submodule update --init --recursive
      - name: Setup torch
        run: |
          curl https://download.pytorch.org/libtorch/cpu/libtorch-macos-1.10.2.zip -o libtorch.zip
          unzip libtorch.zip
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ../src -DCMAKE_PREFIX_PATH=${{ github.workspace }}/libtorch -DCMAKE_BUILD_TYPE=Release
          make
      - name: Package creation
        run: |
          mkdir nn_tilde
          mv src/externals nn_tilde
          tar -czvf nn_max_msp_macOS_x86_64.tar.gz nn_tilde
      - name: Automated Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            nn_max_msp_macOS_x86_64.tar.gz
